@font-face {
  font-family: 'SF Pro Medium';
  src: url('../fonts/sf-pro-text-medium-webfont.woff2') format('woff2'),url('../fonts/sf-pro-text-medium-webfont.woff') format('woff');
}
* {
  box-sizing: border-box;
}

a {
  color: #E28800;
  text-decoration: none;
  background-color: transparent;
  font-size: 1em;
  border: none;
  padding: 0px;
}

a:hover,
a:active {
  text-decoration: underline;
  transition: 300ms;
  outline: 0;
  color: #C16631;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, SFMono-Regular, Monaco, Consolas, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

body,
html {
  height: 100%;
  margin: 0px;
  font-family: 'SF Pro Medium', sans-serif;
  font-size: 1em;
  background-color: #fff;
  text-rendering: optimizeSpeed;
}

@keyframes fadein {
  from {opacity: 0%;transform: translateY(50px);}
  to {opacity: 100%;transform: translateY(0px);}
}

@-webkit-keyframes fadein {
  from {-webkit-opacity: 0%;-webkit-transform: translateY(50px);}
  to {-webkit-opacity: 100%;-webkit-transform: translateY(0px);}
}

@-moz-keyframes fadein {
  from {-moz-opacity: 0%;-moz-transform: translateY(50px);}
  to {-moz-opacity: 100%;-moz-transform: translateY(0px);}
}

.fade-in {
  -moz-animation-name: fadein;
  display: inline-block;
  -moz-animation-duration: 700ms;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 700ms;
  animation-name: fadein;
  animation-duration: 700ms;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  transition-timing-function: ease-out;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.delay-250,
.delay-300,
.delay-350,
.delay-500 {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 700ms;
  -moz-animation-name: fadein;
  -moz-animation-duration: 700ms;
  animation-name: fadein;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  transition-timing-function: ease-out;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.delay-250 {
  animation-delay: 250ms;
}

.delay-300 {
  animation-delay: 300ms;
}

.delay-350 {
  animation-delay: 300ms;
}

.delay-500 {
  animation-delay: 500ms;
}

.main {
	display: block;
	position: relative;
	height: 100%;
}

.welcome__container {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: radial-gradient(166.68% 100% at 12.61% 0%, #699EEC 0%, #3265F2 100%);
}

.logo__center {
	text-align: center;
	margin-bottom: 4.75em; /* 60/16 */
}

.main__button--white {
	margin-top: 3.75em; /* 60/16 */
	margin-bottom: 1.75em; /* 60/16 */
	position: relative;
	font-family: 'SF Pro Medium', sans-serif;
	font-weight: 700;
	max-width: 15.625em; /* 250/16 */
	color: #3265f2;
	background-color: #fff;
	border-radius: 0.375em; /* 6/16 */
	text-transform: uppercase;
	box-shadow: 0px 4px 15px #76A3F4;
	transition: 300ms;
}

.main__button--white:hover {
	box-shadow: 0px 6px 25px #76A3F4;
	transform: 300ms;
	opacity: .8;
}

.main__button--white:active {
	opacity: .6;
}

.button__large {
	min-width: 240px;
	padding: 10px;
	cursor: pointer;
}

.links__container--column {
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	transition: 200ms;
	padding-top: 40px;
	opacity: .66;
}

.links__container--column .link:hover {
	opacity: .5;
	transition: 200ms;
}

.link {
	padding-top: 30px;
	padding: 0.625em; /* 10/16 */
}

/* Indicator */
.indicator {
	text-align: center;
	margin-top: 2.5em; /* 40/16 */
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 4px;
  width: 5px;
  margin: 0 2px;
  background-color: #fff;
  border: none;  
  border-radius: 0.3125em; /* 5/16 */
  display: inline-block;
  opacity: .5;
}

.step.active {
  opacity: 1;
  width: 1em;
}